<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>


<main>
    <div class="row">
        <div class="col-6 mx-auto">
            <form>
                <div class="input-group">
                    <input type="text" id="search" class="form-control" placeholder="Search">
                    <button type="submit" id="s-icon" class="bi bi-search"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
          <div class="d-flex flex-wrap justify-content-center">
              <div style ="background-color: lightcyan;" class="clicktable-rect" data-index="1000">CSCI 1000</div>
              <div style ="background-color: lightcyan;" class="clicktable-rect" data-index="1200">CSCI 1200</div>
              <div style ="background-color: lightcyan;" class="clicktable-rect" data-index="1300">CSCI 1300</div>
              <div style ="background-color: lightcyan;" class="clicktable-rect" data-index="2270">CSCI 2270</div>
              <div style ="background-color: lightcyan;" class="clicktable-rect" data-index="2275">CSCI 2275</div>
              <div style ="background-color: lightcyan;" class="clicktable-rect" data-index="2400">CSCI 2400</div>
              <div style ="background-color: lightcyan;" class="clicktable-rect" data-index="2750">CSCI 2750</div>
              <div style ="background-color: lightcyan;" class="clicktable-rect" data-index="2820">CSCI 2820</div>
              <div style ="background-color: lightcyan;" class="clicktable-rect" data-index="2824">CSCI 2824</div>
              <div style ="background-color: lightcyan;" class="clicktable-rect" data-index="2830">CSCI 2830</div>
          </div>
          <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightcoral;" class="clicktable-rect" data-index="2834">CSCI 2834</div>
            <div style ="background-color: lightcoral;" class="clicktable-rect" data-index="2897">CSCI 2897</div>
            <div style ="background-color: lightcoral;" class="clicktable-rect" data-index="2900">CSCI 2900</div>
            <div style ="background-color: lightcoral;" class="clicktable-rect" data-index="3002">CSCI 3002</div>
            <div style ="background-color: lightcoral;" class="clicktable-rect" data-index="3010">CSCI 3010</div>
            <div style ="background-color: lightcoral;" class="clicktable-rect" data-index="3022">CSCI 3022</div>
            <div style ="background-color: lightcoral;" class="clicktable-rect" data-index="3090">CSCI 3090</div>
            <div style ="background-color: lightcoral;" class="clicktable-rect" data-index="3100">CSCI 3100</div>
            <div style ="background-color: lightcoral;" class="clicktable-rect" data-index="3104">CSCI 3104</div>
            <div style ="background-color: lightcoral;" class="clicktable-rect" data-index="3112">CSCI 3112</div>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightseagreen;" class="clicktable-rect" data-index="3150">CSCI 3150</div>
            <div style ="background-color: lightseagreen;" class="clicktable-rect" data-index="3155">CSCI 3155</div>
            <div style ="background-color: lightseagreen;" class="clicktable-rect" data-index="3202">CSCI 3202</div>
            <div style ="background-color: lightseagreen;" class="clicktable-rect" data-index="3287">CSCI 3287</div>
            <div style ="background-color: lightseagreen;" class="clicktable-rect" data-index="3302">CSCI 3302</div>
            <div style ="background-color: lightseagreen;" class="clicktable-rect" data-index="3308">CSCI 3308</div>
            <div style ="background-color: lightseagreen;" class="clicktable-rect" data-index="3352">CSCI 3352</div>
            <div style ="background-color: lightseagreen;" class="clicktable-rect" data-index="3403">CSCI 3403</div>
            <div style ="background-color: lightseagreen;" class="clicktable-rect" data-index="3434">CSCI 3434</div>
            <div style ="background-color: lightseagreen;" class="clicktable-rect" data-index="3593">CSCI 3593</div>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="3656">CSCI 3656</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="3702">CSCI 3702</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="3753">CSCI 3753</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="3832">CSCI 3832</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4002">CSCI 4002</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4113">CSCI 4113</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4114">CSCI 4114</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4118">CSCI 4118</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4122">CSCI 4122</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4133">CSCI 4133</div>          
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4200">CSCI 4200</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4229">CSCI 4229</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4239">CSCI 4239</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4240">CSCI 4240</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4253">CSCI 4253</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4273">CSCI 4273</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4302">CSCI 4302</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4303">CSCI 4303</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4308">CSCI 4308</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4313">CSCI 4313</div>          
        </div>      
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4314">CSCI 4314</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4318">CSCI 4318</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4328">CSCI 4328</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4338">CSCI 4338</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4348">CSCI 4348</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4358">CSCI 4358</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4368">CSCI 4368</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4413">CSCI 4413</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4446">CSCI 4446</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4448">CSCI 4448</div>          
        </div>      
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4502">CSCI 4502</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4555">CSCI 4555</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4576">CSCI 4576</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4616">CSCI 4616</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4622">CSCI 4622</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4722">CSCI 4722</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4753">CSCI 4753</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4802">CSCI 4802</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4809">CSCI 4809</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4830">CSCI 4830</div>          
        </div>      
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4831">CSCI 4831</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4849">CSCI 4849</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4900">CSCI 4900</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4950">CSCI 4950</div>
            <div style ="background-color: lightyellow;" class="clicktable-rect" data-index="4960">CSCI 4960</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5000">CSCI 5000</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5010">CSCI 5010</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5020">CSCI 5020</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5030">CSCI 5030</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5040">CSCI 5040</div>          
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5050">CSCI 5050</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5100">CSCI 5100</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5113">CSCI 5113</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5114">CSCI 5114</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5135">CSCI 5135</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5140">CSCI 5140</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5160">CSCI 5160</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5170">CSCI 5170</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5180">CSCI 5180</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5190">CSCI 5190</div>          
        </div> 
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5200">CSCI 5200</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5220">CSCI 5220</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5229">CSCI 5229</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5230">CSCI 5230</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5239">CSCI 5239</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5240">CSCI 5240</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5253">CSCI 5253</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5254">CSCI 5254</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5260">CSCI 5260</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5270">CSCI 5270</div>          
        </div>               
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5273">CSCI 5273</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5280">CSCI 5280</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5302">CSCI 5302</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5303">CSCI 5303</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5313">CSCI 5313</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5314">CSCI 5314</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5322">CSCI 5322</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5340">CSCI 5340</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5350">CSCI 5350</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5352">CSCI 5352</div>          
        </div>     
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5360">CSCI 5360</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5380">CSCI 5380</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5402">CSCI 5402</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5403">CSCI 5403</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5413">CSCI 5413</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5417">CSCI 5417</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5423">CSCI 5423</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5434">CSCI 5434</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5444">CSCI 5444</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5446">CSCI 5446</div>          
        </div>        
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5448">CSCI 5448</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5454">CSCI 5454</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5502">CSCI 5502</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5514">CSCI 5514</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5523">CSCI 5523</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5525">CSCI 5525</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5535">CSCI 5535</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5548">CSCI 5548</div>
            <div style ="background-color: lightsalmon;"class="clicktable-rect" data-index="5550">CSCI 5550</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5573">CSCI 5573</div>          
        </div>     
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5576">CSCI 5576</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5593">CSCI 5593</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5606">CSCI 5606</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5616">CSCI 5616</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5620">CSCI 5620</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5622">CSCI 5622</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5630">CSCI 5630</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5636">CSCI 5636</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5646">CSCI 5646</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5654">CSCI 5654</div>          
        </div>        
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5673">CSCI 5673</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5676">CSCI 5676</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5714">CSCI 5714</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5722">CSCI 5722</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5753">CSCI 5753</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5802">CSCI 5802</div>
            <div style ="background-color: lightsalmon;"class="clicktable-rect" data-index="5809">CSCI 5809</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5817">CSCI 5817</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5822">CSCI 5822</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5828">CSCI 5828</div>          
        </div>   
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5832">CSCI 5832</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5839">CSCI 5839</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5849">CSCI 5849</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5854">CSCI 5854</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5880">CSCI 5880</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5900">CSCI 5900</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5919">CSCI 5919</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5922">CSCI 5922</div>
            <div style ="background-color: lightsalmon;" class="clicktable-rect" data-index="5929">CSCI 5929</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6000">CSCI 6000</div>          
        </div>      
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6100">CSCI 6100</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6114">CSCI 6114</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6118">CSCI 6118</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6200">CSCI 6200</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6214">CSCI 6214</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6268">CSCI 6268</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6302">CSCI 6302</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6314">CSCI 6314</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6402">CSCI 6402</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6454">CSCI 6454</div>          
        </div> 
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6502">CSCI 6502</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6622">CSCI 6622</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6644">CSCI 6644</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6686">CSCI 6686</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6800">CSCI 6800</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6810">CSCI 6810</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6930">CSCI 6930</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6940">CSCI 6940</div>
            <div style ="background-color: lightgreen;" class="clicktable-rect" data-index="6950">CSCI 6950</div>
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7000">CSCI 7000</div>          
        </div>      
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7123">CSCI 7123</div>
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7135">CSCI 7135</div>
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7143">CSCI 7143</div>
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7154">CSCI 7154</div>
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7176">CSCI 7176</div>
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7222">CSCI 7222</div>
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7412">CSCI 7412</div>
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7422">CSCI 7422</div>
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7565">CSCI 7565</div>
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7717">CSCI 7717</div>          
        </div> 
        <div class="d-flex flex-wrap justify-content-center">
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7772">CSCI 7772</div>
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7818">CSCI 7818</div>
            <div style ="background-color: lightgoldenrodyellow;" class="clicktable-rect" data-index="7900">CSCI 7900</div>
            <div style ="background-color: lightskyblue;" class="clicktable-rect" data-index="8990">CSCI 8990</div>        
        </div>      
      </div>
    </div>
</main>


<style>
#s-icon {
  background-color: transparent;
  border: none;
}

.input-group {
  max-width: 300px;
  margin: 20px auto;
  margin-top: 25px;
  border-bottom: 1px solid #000000;
}

.form-control {
  border: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: transparent;
}

.clicktable-rect {
  width: 100px;
  height: 50px;
  background-color: #ffffff;
  color: #000000;
  border: .5px solid #000000;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  line-height: 50px;
  font-size: 14px;
}

.clicktable-rect:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px #000000;
  transition: box-shadow 0.1s ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
}


.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  height: 70%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 70%;
}

.scrollable-cards {
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: 20px;
}

.card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 0px 5px #000000;
  transition: box-shadow 0.1s ease-in-out;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.card-content {
  font-size: 1rem;
}
</style>


<script>
  const search = document.getElementById('search');
  const clicktableRects = document.querySelectorAll('.clicktable-rect');

  search.addEventListener('input', () => {
    const searchTerm = search.value.toLowerCase();

    clicktableRects.forEach((rect) => {
      const courseCode = rect.textContent.toLowerCase();
      if (courseCode.includes(searchTerm)) {
        rect.style.display = 'block';
        rect.classList.add('search-match');
      } else {
        rect.style.display = 'none';
        rect.classList.remove('search-match');
      }
    });
  });

  // Create modals
  clicktableRects.forEach((rect) => {
    const index = rect.getAttribute('data-index');
    const modal = document.createElement('div');
    modal.className = 'modal';
    modal.id = `modal${index}`;
    const modalContent = document.createElement('div');
    modalContent.className = 'modal-content';

    fetchNotes(index, modalContent);

    const modalTitle = document.createElement('h2');
    modalTitle.className = 'modal-title';
    modalTitle.textContent = rect.textContent;
    const headerWrapper = document.createElement('div');
    headerWrapper.appendChild(modalTitle);
    modalContent.appendChild(headerWrapper);

    const scrollableCards = document.createElement('div');
    scrollableCards.className = 'scrollable-cards';
    modalContent.appendChild(scrollableCards);

    // const courseInfo = document.createElement('div');
    // courseInfo.className = 'card';
    // const courseTitle = document.createElement('div');
    // courseTitle.className = 'card-title';
    // courseTitle.textContent = `Class Note`;
    // courseInfo.appendChild(courseTitle);
    // const courseDescription = document.createElement('div');
    // courseDescription.className = 'card-content';
    // courseDescription.textContent = `Class Note Content`;
    // courseInfo.appendChild(courseDescription);
    // modalContent.appendChild(courseInfo);

    const addCardButton = document.createElement('button');
    addCardButton.textContent = '+ Add New Class Note';
    addCardButton.style.marginTop = '10px';
    addCardButton.style.width = '100%';
    addCardButton.style.padding = '10px';
    addCardButton.style.backgroundColor = '#007bff';
    addCardButton.style.color = '#ffffff';
    addCardButton.style.border = 'none';
    addCardButton.style.borderRadius = '5px';
    addCardButton.style.cursor = 'pointer';

addCardButton.addEventListener('click', () => {
  const newCardTitleText = prompt('Enter the title of the new class note:');
  const newCardContentText = prompt('Enter the content of the new class note:');
  
  const newCard = createCard(newCardTitleText, newCardContentText);
  scrollableCards.appendChild(newCard);

  // Send a POST request to the server to store the new note in the database
  fetch('/notes', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      course_id: index,
      title: newCardTitleText,
      content: newCardContentText
    })
  })
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
  })
  .catch(error => {
    console.error('There was a problem with the fetch operation:', error);
  });
});



  const addButtonWrapper = document.createElement('div');
  addButtonWrapper.appendChild(addCardButton);
  modalContent.appendChild(addButtonWrapper);

  modal.appendChild(modalContent);
  document.body.appendChild(modal);

  rect.addEventListener('click', () => {
    modal.style.display = 'block';
  });

  window.addEventListener('click', (event) => {
    if (event.target === modal) {
      modal.style.display = 'none';
    }
  });


function createCard(title, content) {
  const card = document.createElement('div');
  card.className = 'card';

  const cardTitle = document.createElement('div');
  cardTitle.className = 'card-title';
  cardTitle.textContent = title;
  card.appendChild(cardTitle);

  const cardContent = document.createElement('div');
  cardContent.className = 'card-content';
  
  const truncatedContent = content.substring(0, 25) + (content.length > 25 ? '...' : '');
  cardContent.textContent = truncatedContent;
  
  card.appendChild(cardContent);

  card.addEventListener('click', () => {
    fullContentModalContent.innerHTML = ''; // Clear previous content

    const fullCardTitle = document.createElement('h3');
    fullCardTitle.textContent = title;
    fullContentModalContent.appendChild(fullCardTitle);

    const fullCardContent = document.createElement('p');
    fullCardContent.textContent = content;
    fullContentModalContent.appendChild(fullCardContent);

    fullContentModal.style.display = 'block';
  });
  return card;
}

function fetchNotes(course_id, modalContent) {
  fetch(`/notes/${course_id}`)
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(notes => {
      notes.forEach(note => {
        const newCard = createCard(note.title, note.content);
        scrollableCards.appendChild(newCard);

      });
    })
    .catch(error => {
      console.error('There was a problem with the fetch operation:', error);
    });

}
});

// MODAL INSIDE CREATED CARD 

const { modal: fullContentModal, modalContent: fullContentModalContent } = createModal('fullContentModal');
document.body.appendChild(fullContentModal);


function createModal(id) {
  const modal = document.createElement('div');
  modal.className = 'modal';
  modal.id = id;
  const modalContent = document.createElement('div');
  modalContent.className = 'modal-content';
  modal.appendChild(modalContent);

  return { modal, modalContent };
}

window.addEventListener('click', (event) => {
  if (event.target === fullContentModal) {
    fullContentModal.style.display = 'none';
  }
});
</script>


<%- include ('../partials/footer') %>