<%- include ('../partials/head') %>

<main>
    <div class="box">
        <main>
          <h1>Boeing 747</h1>
          <p>
            This behemoth of a plane transformed the greater air travel upon its unveiling in 1969, restructuring the way for long distance travel for full service carriers around the globe. Simply said this “jumbo jet” changed the economics in flying, that being said the more people they could fit onto a plane meant for lower prices. The first year that the 747 was in operation it cut the cost of flying in half, which gave exponential growth in air travel where flying really became accessible to the greater population. This was made relevant with the airline deregulation in the United States, specifically this was the start of affordable long haul travel. While the 747 not only allowed for more passengers and lower fares it also came with new cabin features like using the upper deck for a unique experience for first class flyers. The 747 was not only used for passenger flight but also was used as a freighter as in transportation of cargo. Fast forward to the present day, a lot of 747’s that are still flying are indeed used as freight carriers. Over the years of operation of the 747, there would be new technological advancements to improve all aspects of flight for airline customers. Those would be identified as special suffixes to the 747 name, highlighting some of the more prevalent ones apart from the full passenger jet, they developed freighters and passenger freighter models known as the ‘combi’. As an airline, many felt like they had to have this jet as a representation of their services while many of them financially could not afford it. The plane continued to evolve and served other purposes like government transport including air force one. The best selling version of this plane was manufactured over the next few decades with the name of 747-400, this version had more efficient energy models, longer range and a more modernized interior and/or cabin.
          </p>
          <button onclick="highlightText()">Annotate</button>
          <script>
            function highlightText() {
              var selection = window.getSelection();
              if (selection.rangeCount) {
                var range = selection.getRangeAt(0).cloneRange();
                var highlight = document.createElement('span');
                highlight.classList.add('highlight');
                range.surroundContents(highlight);
                selection.removeAllRanges();
                selection.addRange(range);
              }
            }
          </script>
        </main>
      </div>      
</main>


<style>

.box {
  border: 1px solid #ccc;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: calc(100% + 200px);
}

.highlight {
  background-color: yellow;
}
</style>

<%- include ('../partials/footer') %>